<!--
  Generated template for the SprintsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="greytool">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="greytitle">
      Sprints
    </ion-title>
    <ion-buttons end>
      <button (click)="addSprintClicked()">
        <ion-icon name="add"></ion-icon> New Sprint</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid style="padding: 0px;">
    <ion-row>
      <ion-card (click)="showCurrentSprintClicked()" class="currentSprintCard" *ngIf="currentSprint != null">
        <ion-card-header>
          <p>
            <strong>Current Sprint</strong>
          </p>
          <p class="headerDates"> {{currentSprint.Title}}: {{currentSprint.StartDate}} - {{currentSprint.EndDate}}</p>
        </ion-card-header>
        <div style="font-size: small;">
          <ion-item-divider detail-push>Upcoming</ion-item-divider>
          <div *ngFor="let task of currentSprintTasks;let i=index">
            <ion-item no-lines text-wrap *ngIf="i<3">
              <p item-start>-</p>
              <strong>{{task.User}}</strong>: {{task.Description}}
              <p item-end>{{task.Size}}</p>
            </ion-item>
          </div>
        </div>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card *ngFor="let sprint of inactiveSprints;let i=index" (click)="showSprintClicked(sprint,i)">
        <ion-card-header>
          {{sprint.Title}}
        </ion-card-header>
        <ion-card-content>
          <p>{{sprint.StartDate}} - {{sprint.EndDate}}</p>
          <p>{{sprint.Status}}</p>
          <p>{{sprint.Weight}} weight</p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>