<!--
  Generated template for the SprintsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Sprints
    </ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="currentSprint != null">
    <p>Current Sprint</p>
    <p>Start: {{currentSprint.StartDate}}</p>
    <p>End: {{currentSprint.EndDate}}</p>
    <p>Upcoming - TBD need to fetch tasks</p>
  </div>
  <ion-list>
    <ion-item *ngFor="let sprint of inactiveSprints">
      <p>Start: {{sprint.StartDate}}</p>
      <p>End: {{sprint.EndDate}}</p>
      <p>Active: {{sprint.Active}}</p>
      <p>Notes: {{sprint.Notes}}</p>
      <p>Status: {{sprint.Status}}</p>
      <p>Weight: {{sprint.Weight}}</p>
      <p>Tasks Completed: {{sprint.CompletedTasks}}</p>
    </ion-item>
  </ion-list>
</ion-content>