// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/sass/font";

body {
    color: #cccccc;
    background-color: white;
}

.background_fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}

.background_top {
    position: fixed;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}

.background_scaled {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100vh;
    z-index: -1;
}

a {
    color: grey;
}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
     justify-content: center!important;
}

ion-navbar button ion-icon{
    color: grey;
}

ion-navbar.greytool {
    box-shadow: 5px 5px 20px #bbb;
}



.toolbar-title-ios {
    color:grey;
    font-size: medium;
}